/* Colors */
:root {
    --black-color: #000;
    --grey-color: #333;
    --white-color: #fff;
}


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: sans-serif;
}
