.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-4 {
    grid-template-columns:repeat(4, 1fr);
    column-gap: 40px;
}

/* Text Sizes */


